/**
    inverter
 */
.g-inv {
    --bg: var(--r-c);
    --c: var(--r-bg);
}

.g-inv .g-inv {
    --bg: var(--r-bg);
    --c: var(--r-c);
}

/**
    height half
 */
.g-hh, .g-hhc > * {
    --s1: calc(var(--r-s1) / 2);
    --s2: calc(var(--r-s2) / 2);
    --s3: calc(var(--r-s3) / 2);
    --s4: calc(var(--r-s4) / 2);
    --s5: calc(var(--r-s5) / 2);
    --s6: calc(var(--r-s6) / 2);
    --s7: calc(var(--r-s7) / 2);
    --s8: calc(var(--r-s8) / 2);
    --s9: calc(var(--r-s9) / 2);
    --s: calc(var(--r-s) / 2);
}

/**
    height double
 */
.g-hd, .g-hdc > * {
    --s1: calc(var(--r-s1) * 2);
    --s2: calc(var(--r-s2) * 2);
    --s3: calc(var(--r-s3) * 2);
    --s4: calc(var(--r-s4) * 2);
    --s5: calc(var(--r-s5) * 2);
    --s6: calc(var(--r-s6) * 2);
    --s7: calc(var(--r-s7) * 2);
    --s8: calc(var(--r-s8) * 2);
    --s9: calc(var(--r-s9) * 2);
    --s: calc(var(--r-s) * 2);
}

/**
    half size
 */
.g-wh, .g-whc > * {
    --w1: calc(var(--r-s1) / 2);
    --w2: calc(var(--r-s2) / 2);
    --w3: calc(var(--r-s3) / 2);
    --w4: calc(var(--r-s4) / 2);
    --w5: calc(var(--r-s5) / 2);
    --w6: calc(var(--r-s6) / 2);
    --w7: calc(var(--r-s7) / 2);
    --w8: calc(var(--r-s8) / 2);
    --w9: calc(var(--r-s9) / 2);
    --w: calc(var(--r-s) / 2);
}

.g-mh, .g-mhc > * {
    --m1: calc(var(--r-m1) / 2);
    --m2: calc(var(--r-m2) / 2);
    --m3: calc(var(--r-m3) / 2);
    --m4: calc(var(--r-m4) / 2);
    --m5: calc(var(--r-m5) / 2);
}

.g-ph, .g-phc > * {
    --p1: calc(var(--r-p1) / 2);
    --p2: calc(var(--r-p2) / 2);
    --p3: calc(var(--r-p3) / 2);
    --p4: calc(var(--r-p4) / 2);
    --p5: calc(var(--r-p5) / 2);
}


/**
    double size
 */
.g-wd, .g-wdc > * {
    --w1: calc(var(--r-s1) * 2);
    --w2: calc(var(--r-s2) * 2);
    --w3: calc(var(--r-s3) * 2);
    --w4: calc(var(--r-s4) * 2);
    --w5: calc(var(--r-s5) * 2);
    --w6: calc(var(--r-s6) * 2);
    --w7: calc(var(--r-s7) * 2);
    --w8: calc(var(--r-s8) * 2);
    --w9: calc(var(--r-s9) * 2);
    --w: calc(var(--r-s) * 2);
}

.g-md, .g-mdc > * {
    --m1: calc(var(--r-m1) * 2);
    --m2: calc(var(--r-m2) * 2);
    --m3: calc(var(--r-m3) * 2);
    --m4: calc(var(--r-m4) * 2);
    --m5: calc(var(--r-m5) * 2);
}

.g-pd, .g-pdc > * {
    --p1: calc(var(--r-p1) * 2);
    --p2: calc(var(--r-p2) * 2);
    --p3: calc(var(--r-p3) * 2);
    --p4: calc(var(--r-p4) * 2);
    --p5: calc(var(--r-p5) * 2);
}


/**
    background color none
 */
.g-t-bg {
    background-color: transparent !important;
}

/**
    overlay
 */
.g-t-o {
    mix-blend-mode: overlay;
}


/**
    border top radius
 */
.g-btr, .g-btrc > * {
    border-top-left-radius: var(--br);
    border-top-right-radius: var(--br);
}

/**
    border top radius right none
 */
.g-btrr, .g-btrrc > * {
    border-top-right-radius: 0 !important;
}

/**
    border top radius left none
 */
.g-btrl, .g-btrlc > * {
    border-top-left-radius: 0 !important;
}

/**
    border bottom radius
 */
.g-bbr, .g-bbrc > * {
    border-bottom-left-radius: var(--br);
    border-bottom-right-radius: var(--br);
}

/**
    border bottom radius right none
 */
.g-bbrr, .g-bbrrc > * {
    border-bottom-right-radius: 0 !important;
}

/**
    border bottom radius left none
 */
.g-bbrl, .g-bbrlc > * {
    border-bottom-left-radius: 0 !important;
}

/**
    border top 0
 */
.g-bt, .g-btc > * {
    border-top: 0 !important;
}

/**
    border top 0
 */
.g-bb, .g-bbc > * {
    border-bottom: 0 !important;
}

/**
    border top 0
 */
.g-bl, .g-blc > * {
    border-left: 0 !important;
}

/**
    border right 0
 */
.g-br, .g-brc > * {
    border-right: 0 !important;
}

/**
    border
 */
.g-b, .g-bc > * {
    border-width: var(--bw);
    border-style: solid;
    border-color: var(--b);
    border-block-color: var(--b);
    border-inline-color: var(--b);
}

.g-b2, .g-b2c > * {
    border-width: var(--bw);
    border-style: solid;
    border-color: transparent;
    border-block-color: transparent;
    border-inline-color: transparent;
}

/**
    no click handler
 */
.g-npe, .g-npec > * {
    pointer-events: none;
}

/**
    padding 0
 */
.g-pr, .g-prc > * {
    padding-right: 0 !important;
}

/**
    padding 0
 */
.g-pl, .g-plc > * {
    padding-left: 0 !important;
}

/**
    padding 0
 */
.g-pt, .g-ptc > * {
    padding-top: 0 !important;
}

/**
    padding 0
 */
.g-pb, .g-pbc > * {
    padding-bottom: 0 !important;
}

/**
    padding
 */
.g-p1, .g-p1c > * {
    padding: var(--p1);
}

/**
    padding
 */
.g-p2, .g-p2c > * {
    padding: var(--p2);
}

/**
    padding 10%
 */
.g-p3, .g-p3c > * {
    padding: var(--p3);
}

/**
    padding 10%
 */
.g-p4, .g-p4c > * {
    padding: var(--p4);
}

/**
    padding 10%
 */
.g-p5, .g-p5c > * {
    padding: var(--p5);
}

/**
    margin 0
 */
.g-mbcl > *:last-child {
    margin-bottom: 0 !important;
}

/**
    margin 0
 */
.g-m, .g-mc > * {
    margin: 0 !important;
}

/**
    margin 0
 */
.g-mb, .g-mbc > * {
    margin-bottom: 0 !important;
}

/**
    margin 0
 */
.g-mt, .g-mtc > * {
    margin-top: 0 !important;
}

/**
    margin 0
 */
.g-mr, .g-mrc > * {
    margin-right: 0 !important;
}

/**
    margin 0
 */
.g-ml, .g-mlc > * {
    margin-left: 0 !important;
}

/**
    margin
 */
.g-m1, .g-mc1 > * {
    margin: var(--m1);
}

/**
    margin
 */
.g-m2, .g-mc2 > * {
    margin: var(--m2);
}

/**
    margin
 */
.g-m3, .g-mc3 > * {
    margin: var(--m3);
}

/**
    margin
 */
.g-m4, .g-mc4 > * {
    margin: var(--m4);
}

/**
    margin
 */
.g-m5, .g-mc5 > * {
    margin: var(--m5);
}

/**
    margin -1 hide bottom border helper
 */
.g-mb-1 {
    margin-bottom: -1px !important;
}

/**
    list style none
 */
.g-li, .g-lic > * {
    list-style: none;
}

/**
    z index 100
 */
.g-z {
    z-index: 100;
}

/**
    overflow auto
 */
.g-oa, .g-oac > * {
    overflow: auto;
}

/**
    overflow hidden
 */
.g-oh, .g-ohc > * {
    overflow: hidden;
}

/**
    width %
 */
.g-w1, .g-w1c > * {
    width: var(--w1) !important;
}

/**
    width %
 */
.g-w2, .g-w2c > * {
    width: var(--w2) !important;
}

/**
    width %
 */
.g-w3, .g-w3c > * {
    width: var(--w3) !important;
}

/**
    width %
 */
.g-w4, .g-w4c > * {
    width: var(--w4) !important;
}

/**
    width %
 */
.g-w5, .g-w5c > * {
    width: var(--w5) !important;
}

/**
    width %
 */
.g-w6, .g-w6c > * {
    width: var(--w6) !important;
}

/**
    width %
 */
.g-w7, .g-w7c > * {
    width: var(--w7) !important;
}

/**
    width %
 */
.g-w8, .g-w8c > * {
    width: var(--w8) !important;
}

/**
    width %
 */
.g-w9, .g-w9c > * {
    width: var(--w9) !important;
}

/**
    width %
 */
.g-w, .g-wc > * {
    width: var(--w) !important;
}

/**
    height %
 */
.g-h1, .g-h1c > * {
    height: var(--s1) !important;
}

/**
    height %
 */
.g-h2, .g-h2c > * {
    height: var(--s2) !important;
}

/**
    height %
 */
.g-h3, .g-h3c > * {
    height: var(--s3) !important;
}

/**
    height %
 */
.g-h4, .g-h4c > * {
    height: var(--s4) !important;
}

/**
    height %
 */
.g-h5, .g-h5c > * {
    height: var(--s5) !important;
}

/**
    height %
 */
.g-h6, .g-h6c > * {
    height: var(--s6) !important;
}

/**
    height %
 */
.g-h7, .g-h7c > * {
    height: var(--s7) !important;
}

/**
    height %
 */
.g-h8, .g-h8c > * {
    height: var(--s8) !important;
}

/**
    height %
 */
.g-h9, .g-h9c > * {
    height: var(--s9) !important;
}

/**
    height more then screen
 */
.g-h11, .g-h11c > * {
    min-height: calc(100vh + 100px)
}

/**
    height %
 */
.g-h, .g-hc > * {
    height: var(--s) !important;
}

/**
    view height 100%
 */
.g-vh {
    height: 100vh !important;
}

/**
    display none
 */
.g-dn, .g-dn.g-fc, .g-dn.gl-fc, .g-dn.gs-fc, .g-dn.g-fr, .g-dn.gl-fr, .g-dn.gs-fr {
    display: none;
}

/**
    display block
 */
.g-db, .g-dbc > * {
    display: block;
}

/**
    display inline block
 */
.g-dib, .g-dibc > * {
    display: inline-block;
}

/**
    display hidden
   its for every situation where a rerender would take too long
 */
.g-dh, .g-dhc > * {
    position: absolute;
    left: -9999px;
    top: -9999px;
    display: block;
    pointer-events: none;
    visibility: hidden;
}

/**
    display visibility hidden
 */
.g-dvh, .g-dvhc > * {
    visibility: hidden;
    height: 0 !important;
}

/**
    display position absolute
 */
.g-dpa, .g-dpac > * {
    position: absolute;
}

/**
    display position relative
 */
.g-dpr, .g-dprc > * {
    position: relative;
}

/**
    display position fixed
 */
.g-dpf, .g-dpfc > * {
    position: fixed;
}

/**
   @documentation display top 1
 */
.g-d-t1, .g-d-t1c > * {
    top: var(--s1);
}

/**
    display top 100%
 */
.g-d-t100, .g-d-t100c > * {
    top: 100%;
}

/**
    display bottom 1
 */
.g-d-b1, .g-d-b1c > * {
    bottom: var(--s1);
}

/**
    display left  1
 */
.g-d-l1, .g-d-l1c > * {
    left: var(--s1);
}

/**
    display right 1
 */
.g-d-r1, .g-d-r1c > * {
    right: var(--s1);
}

/**
    display top 0
 */
.g-d-t, .g-d-tc > * {
    top: 0;
}

/**
    display bottom 0
 */
.g-d-b, .g-d-bc > * {
    bottom: 0;
}

/**
    display left 0
 */
.g-d-l, .g-d-lc > * {
    left: 0;
}

/**
    display right 0
 */
.g-d-r, .g-d-rc > * {
    right: 0;
}


.g-f {
    display: flex;
}

/**
    flex fill
 */
.g-ff, .g-ffc > * {
    flex: 1 1 auto;
    min-height: 0;
    max-height: 100%;
    min-width: 0;
    max-width: 100%;
}

/**
    flex grow
 */
.g-fg, .g-fgc > * {
    flex: 1;
    min-height: 0;
    max-height: 100%;
    min-width: 0;
    max-width: 100%;
}

/**
    flex row
 */
.g-fr, .g-frc > * {
    display: flex;
    flex-direction: row;
    min-height: 0;
    max-height: 100%;
    min-width: 0;
    max-width: 100%;
}

/**
    flex column
 */
.g-fc, .g-fcc > * {
    display: flex;
    flex-direction: column;
    min-height: 0;
    max-height: 100%;
    min-width: 0;
    max-width: 100%;
}


/**
    flex middle
 */
.g-fm, .g-fmc > * {
    display: flex;
    align-content: center;
    align-items: center;
}

/**
    flex wrap
 */
.g-fw, .g-fwc > * {
    display: flex;
    flex-wrap: wrap;
}

/**
    flex wrap middle
 */
.g-fwm, .g-fwmc > * {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}


/**
    flex object fit contain
 */
.g-foc, .g-focc > * {
    display: flex;
    height: 100%;
    max-height: 100%;
    width: auto;
    object-fit: contain;
}

.g-fjcb, .g-fjcbc > * {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.g-fjce, .g-fjcec > * {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/**
     grid
 */
.g-g, .g-gc > * {
    display: grid;
}

/**
     grid
 */
.g-gi, .g-gic > * {
    display: inline-grid;
}

/**
     gap
 */
.g-gg1, .g-gg1c > * {
    gap: 1rem;
}

.g-ggh.g-gg1, .g-ggh.g-gg1c > * {
    gap: 0.5rem;
}


/**
     grid row
 */
.g-gr {
    display: contents;
    grid-template-columns: 1fr;
}

/**
     grid column
 */
.g-gc {
    grid-row: span 1;
}

.g-gcm {
    justify-content: center;
    align-items: center;
}

.g-gcb {
    justify-content: start;
    align-items: start;
}

.g-gce {
    justify-content: end;
    align-items: end;
}

/*grid-template-columns: repeat(4, minmax(0, 1fr));*/
.g-gr1, .g-grc1 > * {
    grid-template-columns: repeat(1, 1fr);
}

.g-gr2, .g-grc2 > * {
    grid-template-columns: repeat(2, 1fr);
}

.g-gr3, .g-grc3 > * {
    grid-template-columns: repeat(3, 1fr);
}

.g-gr4, .g-grc4 > * {
    grid-template-columns: repeat(4, 1fr);
}

.g-gr5, .g-grc5 > * {
    grid-template-columns: repeat(5, 1fr);
}

.g-gr6, .g-grc6 > * {
    grid-template-columns: repeat(6, 1fr);
}

.g-gr7, .g-grc7 > * {
    grid-template-columns: repeat(7, 1fr);
}

.g-gr8, .g-grc8 > * {
    grid-template-columns: repeat(8, 1fr);
}

.g-gr9, .g-grc9 > * {
    grid-template-columns: repeat(9, 1fr);
}

.g-gc1, .g-gcc1 > * {
    grid-column: span 1;
}

.g-gc2, .g-gcc2 > * {
    grid-column: span 2;
}

.g-gc3, .g-gcc3 > * {
    grid-column: span 3;
}

.g-gc4, .g-gcc4 > * {
    grid-column: span 4;
}

.g-gc5, .g-gcc5 > * {
    grid-column: span 5;
}

.g-gc6, .g-gcc6 > * {
    grid-column: span 6;
}

.g-gc7, .g-gcc7 > * {
    grid-column: span 7;
}

.g-gc8, .g-gcc8 > * {
    grid-column: span 8;
}

.g-gc9, .g-gcc9 > * {
    grid-column: span 9;
}


/**
    fadeout
 */
.g-fadeout {
    animation: fadeOut 3s forwards;
    animation-delay: 3s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        height: auto;
    }
    100% {
        opacity: 0;
        position: absolute;
        top: -10vh;
        display: block;
        pointer-events: none;
        visibility: hidden;
    }
}

/**
    text uppercase first
 */
.g-tucf::first-letter {
    text-transform: uppercase;
}

/**
    break word
 */
.g-tbw, .g-tbwc > * {
    word-wrap: break-word !important;
    word-break: break-all !important;
}

/**
    white space no wrap
 */
.g-tnw, .g-tnwc > * {
    white-space: nowrap !important;
}

/**
    justify content center
 */
.g-tjcc, .g-tjccc > * {
    justify-content: center;
}

/**
    justify content between
 */
.g-tjcb, .g-tjcbc > * {
    justify-content: space-between;
}

/**
    justify content stretch
 */
.g-tjcs, .g-tjcsc > * {
    justify-content: stretch;
}

/**
    align items center
 */
.g-taic, .g-taicc > * {
    align-items: center;
}

/**
    no selection
 */
.g-tusn, .g-tusnc > * {
    user-select: none;
}

.g-tlf, .g-tlfc > * {
    table-layout: fixed;
}
