/**
    pre
 */

.g-tp, pre, code {
    white-space: pre !important;
}

/**
    cursor pointer
 */
a, button, .g-c {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

/**
    active focus
 */
:focus, :focus-visible, input:focus, .g-active, input[type="checkbox"]:checked + .g-c, .g-c:focus {
    color: var(--c) !important;
    background-color: var(--bg) !important;
    border-color: var(--bs) !important;
    outline: none;
    /*box-shadow: 0 0 0 .25rem 0;*/
    border-style: solid;
}

/**
    hover
 */
a:hover, button:hover, .g-c:hover {
    color: var(--ci) !important;
    background-color: var(--bgi) !important;
    outline: 0;
}

/**
    border top radius
 */

svg {
    stroke: var(--b);
    stroke-width: 0.5px;
    overflow: hidden;
}
