* {
    scrollbar-width: thin;
    scrollbar-color: var(--c) var(--b);
    background-color: var(--bg);
    color: var(--c);
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    margin-inline-end: 0;
    margin-inline-start: 0;
    padding-block-end: 0;
    padding-block-start: 0;
    padding-inline-end: 0;
    padding-inline-start: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    font-size: var(--r-fs);
    font-family: var(--r-ff);
    font-weight: var(--r-fw);
    /*font-stretch: 100%;*/
    /*font-size-adjust: none;*/
    /*font-style: normal;*/
    /*font-variant-alternates: normal;*/
    /*font-variant-caps: normal;*/
    /*font-variant-east-asian: normal;*/
    /*font-variant-ligatures: normal;*/
    /*font-variant-numeric: normal;*/
    /*font-variant-position: normal;*/
    /*font-variation-settings: normal;*/
    /*letter-spacing: normal;*/
    /*line-height: normal;*/
    /*text-indent: 0px;*/
    /*text-shadow: none;*/
    /*text-transform: none;*/
    /*word-spacing: 0px;*/
}

b, strong {
    font-weight: bolder;
}

i {
    font-style: italic;
}

u {
    text-decoration: underline;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.15rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1.05rem;
}

ul {
    list-style-type: disc;
    padding-left: var(--r-p1);
    margin-bottom: var(--r-m1);
}

ol {
    list-style-type: decimal;
    padding-left: var(--r-p1);
    margin-bottom: var(--r-m1);
}

li {
    margin: 0 0 var(--r-m1) 0;
}

progress {
    accent-color: var(--bs);
    height: 14px;
}

progress::-webkit-progress-bar {
    background-color: var(--c);
}

progress::-webkit-progress-value {
    background-color: var(--bs);
}

progress::-moz-progress-bar {
    background-color: var(--bs);
}

